Source: ros-humble-mola-traj-tools
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-humble-mola-common, ros-humble-mrpt2, ros-humble-ros-workspace
Homepage: https://github.com/MOLAorg/mola/tree/develop/mola_traj_tools
Standards-Version: 3.9.2

Package: ros-humble-mola-traj-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-mola-common, ros-humble-mrpt2, ros-humble-ros-workspace
Description: CLI tools to manipulate trajectory files as a complement to the evo package
