Source: ros-iron-mola-input-rawlog
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-iron-mola-kernel, ros-iron-mrpt2, ros-iron-ros-workspace
Homepage: https://github.com/MOLAorg/
Standards-Version: 3.9.2

Package: ros-iron-mola-input-rawlog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-mola-kernel, ros-iron-mrpt2, ros-iron-ros-workspace
Description: Offline RawDataSource from MRPT rawlog datasets
