Source: ros-jazzy-mola-relocalization
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-jazzy-mola-common, ros-jazzy-mola-test-datasets, ros-jazzy-mp2p-icp, ros-jazzy-mrpt2, ros-jazzy-ros-workspace
Homepage: https://github.com/MOLAorg/
Standards-Version: 3.9.2

Package: ros-jazzy-mola-relocalization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-mola-common, ros-jazzy-mola-test-datasets, ros-jazzy-mp2p-icp, ros-jazzy-mrpt2, ros-jazzy-ros-workspace
Description: C++ library with algorithms for relocalization, global localization, or pose estimation given a large initial uncertainty
